In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
data1 = pd.read_excel('Big Game Census data.xlsx')
data2 = pd.read_excel('All Places Census 2016 Population Estimates.xlsx')
data3 = pd.read_excel('All states Census 2017 Population Estimates.xlsx')

In [3]:
data1.isnull().sum()

Player Name                                                 2
Player Jersey Number                                        3
Player Position                                             3
Player Age                                                  3
Player Weight (lbs.)                                        3
Years Played                                                3
Player Birthplace (city, town, etc.)                        3
Player Birth State                                          3
Player Birthplace (Combo)                                   3
Player College                                              3
Player Team                                                 3
Conference                                                  3
2016 Population Estimates (except where otherwise noted)    3
State GEO ID                                                3
Full GEOID                                                  3
Latitude (player birthplace)                                3
Longitude (player birthplace)                               3
Number from City                                            3
Number of Records                                           3
American FactFinder Link for more Census data points        3
Quickfacts Link                                             3
State Data Link                                             3
Source (Population States 2017)                             3
Birthplace, Population Data Source                          3
dtype: int64

In [8]:
data2.isnull().sum()

Geographic ID                                0
GEOID 2                                      0
Geography, full name (City, State)           0
April 1, 2010 - Census                       0
April 1, 2010 - Estimates Base               0
Population Estimate (as of July 1) - 2010    0
Population Estimate (as of July 1) - 2011    0
Population Estimate (as of July 1) - 2012    0
Population Estimate (as of July 1) - 2013    0
Population Estimate (as of July 1) - 2014    0
Population Estimate (as of July 1) - 2015    0
Population Estimate (as of July 1) - 2016    0
dtype: int64

In [9]:
data3.isnull().sum()

GEOID                                        0
GEOID2                                       0
Geography Name                               0
April 1, 2010 - Census                       0
April 1, 2010 - Estimates Base               0
Population Estimate (as of July 1) - 2010    0
Population Estimate (as of July 1) - 2011    0
Population Estimate (as of July 1) - 2012    0
Population Estimate (as of July 1) - 2013    0
Population Estimate (as of July 1) - 2014    0
Population Estimate (as of July 1) - 2015    0
Population Estimate (as of July 1) - 2016    0
Population Estimate (as of July 1) - 2017    0
dtype: int64

In [10]:
data1[data1['State Data Link'].isna()]

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Player data from Yahoo Sports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data1.dropna(inplace=True)

In [16]:
data1.isnull().sum()

Player Name                                                 0
Player Jersey Number                                        0
Player Position                                             0
Player Age                                                  0
Player Weight (lbs.)                                        0
Years Played                                                0
Player Birthplace (city, town, etc.)                        0
Player Birth State                                          0
Player Birthplace (Combo)                                   0
Player College                                              0
Player Team                                                 0
Conference                                                  0
2016 Population Estimates (except where otherwise noted)    0
State GEO ID                                                0
Full GEOID                                                  0
Latitude (player birthplace)                                0
Longitude (player birthplace)                               0
Number from City                                            0
Number of Records                                           0
American FactFinder Link for more Census data points        0
Quickfacts Link                                             0
State Data Link                                             0
Source (Population States 2017)                             0
Birthplace, Population Data Source                          0
dtype: int64

In [17]:
data1.to_excel('Big game census.xlsx')

In [18]:
df = pd.read_excel('Big game census.xlsx')

In [19]:
df.groupby('Player Birth State')['Player Team'].value_counts()

Player Birth State  Player Team
Alabama             New England     2
American Samoa      Philadelphia    1
Arizona             New England     1
California          Philadelphia    9
                    New England     6
Colorado            New England     1
Delaware            New England     1
                    Philadelphia    1
England             Philadelphia    1
Florida             Philadelphia    7
                    New England     6
Georgia             New England     3
                    Philadelphia    1
Hawaii              Philadelphia    2
Illinois            New England     2
                    Philadelphia    1
Iowa                New England     1
                    Philadelphia    1
Jamaica             New England     1
Kansas              New England     1
Louisiana           New England     1
                    Philadelphia    1
Maryland            Philadelphia    3
                    New England     1
Michigan            New England     1
                    Philadelphia    1
Minnesota           Philadelphia    1
Mississippi         New England     2
                    Philadelphia    1
Montana             New England     1
Nevada              New England     2
                    Philadelphia    1
New Jersey          Philadelphia    5
                    New England     2
New Mexico          New England     1
New York            New England     3
                    Philadelphia    2
North Carolina      New England     2
                    Philadelphia    2
Ohio                New England     5
                    Philadelphia    4
Oregon              New England     2
Pennsylvania        Philadelphia    2
                    New England     1
South Carolina      New England     1
                    Philadelphia    1
South Dakota        Philadelphia    1
Tennessee           New England     1
                    Philadelphia    1
Texas               New England     9
                    Philadelphia    5
Virginia            Philadelphia    1
Washington          Philadelphia    1
Wisconsin           Philadelphia    1
Name: Player Team, dtype: int64

In [20]:
df['Player Birth State'].value_counts()

California        15
Texas             14
Florida           13
Ohio               9
New Jersey         7
New York           5
Maryland           4
North Carolina     4
Georgia            4
Nevada             3
Illinois           3
Mississippi        3
Pennsylvania       3
Tennessee          2
Louisiana          2
Delaware           2
Iowa               2
Michigan           2
Oregon             2
Alabama            2
South Carolina     2
Hawaii             2
Montana            1
Kansas             1
Jamaica            1
New Mexico         1
Colorado           1
Arizona            1
American Samoa     1
England            1
Virginia           1
South Dakota       1
Minnesota          1
Wisconsin          1
Washington         1
Name: Player Birth State, dtype: int64